@charset "UTF-8";

#center {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
  font-size: 50px;
}

html {
  scroll-padding-top: 3.5rem;
}

header {
  padding-top: 9.5rem;
  padding-bottom: 6rem;
}

section {
  padding-top: 9rem;
  padding-bottom: 9rem;
}


@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}