<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs m-3">
            <article class="card p-4 bg-secondary">
                <img class="card-img-top" src="https://cdn.kingsbox.com/assets/media/products/gym-essentials/benches/adjustable-bench/X-062-3000--home-adjustable-bench--0.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bench</h5>
                    <p class="card-text">6 angles</p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </article>
        </div>
        <div class="col-xs m-3">
            <article class="card">
                <img class="card-img-top" src="https://www.fitnessdepot.ca/US99999/media/catalog/product/d/b/dbhr040.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">40lbs dumbbell</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </article>
        </div>
        <div class="col-xs m-3">
            <article class="card">
                <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/1950/1891/products/0000s_0007_1-HERO_1024x1024.jpg?v=1620868871" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> Olympic EZ Bar</h5>
                    <p class="card-text">Ergonomically designed</p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </article>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html> 