<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head">
</head>

<body>

<nav th:replace="fragments/common :: navbar">
</nav>

<section class="py-5" th:object="${productModel}">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" th:src="*{imageUrl}" alt="productPicture"/>
            </div>
            <div class="col-md-6">
                <div class="small mb-1 display-6 font-italic" th:text="*{brand}"></div>
                <h1 class="display-4 fw-bolder" th:text="*{name}"></h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-underline display-6" th:text="*{price}"></span>
                </div>
                <p class="lead" th:text="*{description}"></p>
                <div class="d-flex">
                    <!--                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"-->
                    <!--                           style="max-width: 3rem"/>-->
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/common :: footer">
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>